html {
    font-size:62.5%;
}

* {
    margin:0;
    padding:0;
}

#app {
    width:100%;
    height:auto;

    overflow:hidden;
}

header{z-index: 10;}

main {
    z-index: 1;

    float: right;

    width: 80%;
    height: auto;
}

    main article {
        width:90%;
        margin:1.5rem auto;
    }