$background:rgb(240,240,240);
$text-light:$background;
$text-dark:rgb(50, 39, 39);
$base:rgb(69, 79, 69);
$primary:#8BC34A;
$secondary:#9CCC65;
$accent:#FF8A65;

body {
    background: $background;
    color:$text-dark;
    fill:$text-dark;
    stroke: $text-dark;
}

a{
    $color:inherit;
    color: $color;
    text-decoration: underline dotted;

    &:link,
    &:visited
    {color: $color;}
}

.cl-white{
    background: white;
    $color:$text-dark;

    color: $color;
    fill:$color;
    stroke: $color;
}

.cl-base{
    background: $base;
    $color:$text-light;

    color: $color;
    fill:$color;
    stroke: $color;

    &--r{
        background: $background;
        $color:$base;
    
        color: $color;
        fill:$color;
        stroke: $color;
    }
}

.cl-primary{
    background: $primary;
    $color:$text-dark;

    color: $color;
    fill:$color;
    stroke: $color;

    &--r{
        background: $background;
        $color:$primary;
    
        color: $color;
        fill:$color;
        stroke: $color;
    }
}

.cl-secoundary{
    background: $secondary;
    $color:$text-dark;

    color: $color;
    fill:$color;
    stroke: $color;

    &--r{
        background: $background;
        $color:$secondary;
    
        color: $color;
        fill:$color;
        stroke: $color;
    }
}

.cl-accent{
    background: $accent;
    $color:$text-light;

    color: $color;
    fill:$color;
    stroke: $color;

    &--r{
        background: $background;
        $color:$accent;
    
        color: $color;
        fill:$color;
        stroke: $color;
    }
}