.flex {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-config($align:center){
    list-style: none;
    display: flex;
    align-items: $align;
    justify-content: center;
    flex-wrap: wrap;

    &-s,&-e,&-b,&-a{
        list-style: none;
        display: flex;
        align-items: $align;
        flex-wrap: wrap;
    }

    &-s{justify-content: flex-start;}
    &-e{justify-content: flex-end;}
    &-b{justify-content: space-between;}
    &-a{justify-content: space-around;}   
}

.flex--{
    &c { @include flex-config(center) }
    &s{ @include flex-config(flex-start) }
    &e{ @include flex-config(flex-end) }  
    
    &dc{
        list-style: none;
        flex-direction: column; 
         &r{
            list-style: none;
            flex-direction: column-reverse; 
         }
      }
  
    &dr{
        list-style: none;
        flex-direction: row; 
        &r{
            list-style: none;
            flex-direction: row-reverse; 
        }
    }
}